In [30]:
import sys
import os
import duckdb
import polars as pl
import pandas as pd
import numpy as np
from pathlib import Path
from config import load_config

In [2]:
config = load_config("config/config.yaml")
processed_dir = config.etl.output_dir
db_path = processed_dir + "/coinbase/ticker/**/*.parquet"
db_path

'F://processed/coinbase/ticker/**/*.parquet'

In [42]:
import glob
from etl.processors.time_utils import add_time_fields, parse_timestamp_fields
import pyarrow as pa
import pyarrow.parquet as pq

In [ ]:
# Search for all files matching the pattern
nan_files = glob.glob('F://processed/coinbase/ticker/*/date=nan/*.parquet')
print(f"Found {len(nan_files)} files with date=nan")
for fpath in nan_files:
    df = pd.read_parquet(fpath)
    df_records = df.to_dict(orient='records')

    for record in df_records:
        break

Found 2790 files with date=nan

['F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_5075c14c.parquet',
 'F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_6bb344b3.parquet',
 'F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_ed47b62d.parquet',
 'F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_e543c24e.parquet',
 'F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_8d2a17df.parquet',
 'F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_07c35afe.parquet',
 'F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_46341e79.parquet',
 'F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_382a3835.parquet',
 'F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_ac2858ce.parquet',
 'F://processed/coinbase/level2\\product_id=ADA-USD\\date=nan\\part_20251126T16_5e533495.parquet']

In [27]:
for fpath in nan_files:
    df = pd.read_parquet(fpath)
    break

In [29]:
# Reload module to get the latest changes
import importlib
import etl.processors.time_utils
importlib.reload(etl.processors.time_utils)
from etl.processors.time_utils import add_time_fields, parse_timestamp_fields

In [ ]:
df_records = df.to_dict(orient='records')
for record in df_records:
    # modify dict in place
    record = add_time_fields(record, timestamp_field='server_timestamp', fallback_field='capture_timestamp')
new_df = pd.DataFrame.from_dict(df_records)
new_df
table = pa.Table.from_pandas(data_df)
pq.write_table(
    table,
    output_file,
    compression=self.compression
)

,channel,event_type,side,price_level,new_quantity,event_time,sequence_num,client_id,server_timestamp,capture_timestamp,...,day,hour,minute,second,microsecond,datetime,is_snapshot,side_normalized,product_id,date
0,level2,update,bid,0.4350,2212.040994,2025-11-26T23:41:10.53487Z,1605924,,2025-11-26T23:41:10.583923986Z,2025-11-26T23:41:11.244120+00:00,...,26,23,41,10,583923,2025-11-26T23:41:10.583923+00:00,False,bid,ADA-USD,2025-11-26
1,level2,update,offer,0.4433,0.028098,2025-11-26T23:41:10.53487Z,1605924,,2025-11-26T23:41:10.583923986Z,2025-11-26T23:41:11.244120+00:00,...,26,23,41,10,583923,2025-11-26T23:41:10.583923+00:00,False,ask,ADA-USD,2025-11-26
2,level2,update,bid,0.4342,56482.126539,2025-11-26T23:41:11.81851Z,1606436,,2025-11-26T23:41:11.834000057Z,2025-11-26T23:41:12.497334+00:00,...,26,23,41,11,834000,2025-11-26T23:41:11.834000+00:00,False,bid,ADA-USD,2025-11-26
3,level2,update,bid,0.4330,9271.563200,2025-11-26T23:41:11.81851Z,1606436,,2025-11-26T23:41:11.834000057Z,2025-11-26T23:41:12.497334+00:00,...,26,23,41,11,834000,2025-11-26T23:41:11.834000+00:00,False,bid,ADA-USD,2025-11-26
4,level2,update,offer,0.4355,50209.980163,2025-11-26T23:41:11.81851Z,1606436,,2025-11-26T23:41:11.834000057Z,2025-11-26T23:41:12.497334+00:00,...,26,23,41,11,834000,2025-11-26T23:41:11.834000+00:00,False,ask,ADA-USD,2025-11-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,level2,update,bid,0.4348,36307.710910,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,26,23,47,26,984072,2025-11-26T23:47:26.984072+00:00,False,bid,ADA-USD,2025-11-26
1071,level2,update,offer,0.4356,248088.704439,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,26,23,47,26,984072,2025-11-26T23:47:26.984072+00:00,False,ask,ADA-USD,2025-11-26
1072,level2,update,offer,0.4357,100174.273157,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,26,23,47,26,984072,2025-11-26T23:47:26.984072+00:00,False,ask,ADA-USD,2025-11-26
1073,level2,update,offer,0.4378,16470.798524,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,26,23,47,26,984072,2025-11-26T23:47:26.984072+00:00,False,ask,ADA-USD,2025-11-26
1074,level2,update,offer,0.4364,34747.024159,2025-11-26T23:47:27.55545Z,1735320,,2025-11-26T23:47:27.583623363Z,2025-11-26T23:47:28.249070+00:00,...,26,23,47,27,583623,2025-11-26T23:47:27.583623+00:00,False,ask,ADA-USD,2025-11-26

In [40]:
df

,channel,event_type,side,price_level,new_quantity,event_time,sequence_num,client_id,server_timestamp,capture_timestamp,...,day,hour,minute,second,microsecond,datetime,is_snapshot,side_normalized,product_id,date
27,level2,update,bid,0.4350,2212.040994,2025-11-26T23:41:10.53487Z,1605924,,2025-11-26T23:41:10.583923986Z,2025-11-26T23:41:11.244120+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,bid,ADA-USD,nan
28,level2,update,offer,0.4433,0.028098,2025-11-26T23:41:10.53487Z,1605924,,2025-11-26T23:41:10.583923986Z,2025-11-26T23:41:11.244120+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
1766,level2,update,bid,0.4342,56482.126539,2025-11-26T23:41:11.81851Z,1606436,,2025-11-26T23:41:11.834000057Z,2025-11-26T23:41:12.497334+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,bid,ADA-USD,nan
1767,level2,update,bid,0.4330,9271.563200,2025-11-26T23:41:11.81851Z,1606436,,2025-11-26T23:41:11.834000057Z,2025-11-26T23:41:12.497334+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,bid,ADA-USD,nan
1768,level2,update,offer,0.4355,50209.980163,2025-11-26T23:41:11.81851Z,1606436,,2025-11-26T23:41:11.834000057Z,2025-11-26T23:41:12.497334+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532459,level2,update,bid,0.4348,36307.710910,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,bid,ADA-USD,nan
532460,level2,update,offer,0.4356,248088.704439,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
532461,level2,update,offer,0.4357,100174.273157,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
532462,level2,update,offer,0.4378,16470.798524,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
534340,level2,update,offer,0.4364,34747.024159,2025-11-26T23:47:27.55545Z,1735320,,2025-11-26T23:47:27.583623363Z,2025-11-26T23:47:28.249070+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan

In [36]:
add_time_fields(record.copy(), timestamp_field='server_timestamp', fallback_field='capture_timestamp')

{'channel': 'level2',
 'event_type': 'update',
 'side': 'bid',
 'price_level': 0.435,
 'new_quantity': 2212.04099441,
 'event_time': '2025-11-26T23:41:10.53487Z',
 'sequence_num': 1605924,
 'client_id': '',
 'server_timestamp': '2025-11-26T23:41:10.583923986Z',
 'capture_timestamp': '2025-11-26T23:41:11.244120+00:00',
 'year': 2025,
 'month': 11,
 'day': 26,
 'hour': 23,
 'minute': 41,
 'second': 10,
 'microsecond': 583923,
 'datetime': '2025-11-26T23:41:10.583923+00:00',
 'is_snapshot': False,
 'side_normalized': 'bid',
 'product_id': 'ADA-USD',
 'date': '2025-11-26'}

In [33]:
pd.Series(np.where(df['server_timestamp'].isnull(), df['capture_timestamp'], df['server_timestamp'])).apply(parse_timestamp_fields)

0       {'year': 2025, 'month': 11, 'day': 26, 'hour':...
1       {'year': 2025, 'month': 11, 'day': 26, 'hour':...
2       {'year': 2025, 'month': 11, 'day': 26, 'hour':...
3       {'year': 2025, 'month': 11, 'day': 26, 'hour':...
4       {'year': 2025, 'month': 11, 'day': 26, 'hour':...
                              ...
1070    {'year': 2025, 'month': 11, 'day': 26, 'hour':...
1071    {'year': 2025, 'month': 11, 'day': 26, 'hour':...
1072    {'year': 2025, 'month': 11, 'day': 26, 'hour':...
1073    {'year': 2025, 'month': 11, 'day': 26, 'hour':...
1074    {'year': 2025, 'month': 11, 'day': 26, 'hour':...
Length: 1075, dtype: object

In [ ]:
np.where(df['server_timestamp'].isnull(), df['captured_timestamp'], df['server_timestamp']).apply(parse_timestamp_fields, axis=1)

,channel,event_type,side,price_level,new_quantity,event_time,sequence_num,client_id,server_timestamp,capture_timestamp,...,day,hour,minute,second,microsecond,datetime,is_snapshot,side_normalized,product_id,date
27,level2,update,bid,0.4350,2212.040994,2025-11-26T23:41:10.53487Z,1605924,,2025-11-26T23:41:10.583923986Z,2025-11-26T23:41:11.244120+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,bid,ADA-USD,nan
28,level2,update,offer,0.4433,0.028098,2025-11-26T23:41:10.53487Z,1605924,,2025-11-26T23:41:10.583923986Z,2025-11-26T23:41:11.244120+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
1766,level2,update,bid,0.4342,56482.126539,2025-11-26T23:41:11.81851Z,1606436,,2025-11-26T23:41:11.834000057Z,2025-11-26T23:41:12.497334+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,bid,ADA-USD,nan
1767,level2,update,bid,0.4330,9271.563200,2025-11-26T23:41:11.81851Z,1606436,,2025-11-26T23:41:11.834000057Z,2025-11-26T23:41:12.497334+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,bid,ADA-USD,nan
1768,level2,update,offer,0.4355,50209.980163,2025-11-26T23:41:11.81851Z,1606436,,2025-11-26T23:41:11.834000057Z,2025-11-26T23:41:12.497334+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532459,level2,update,bid,0.4348,36307.710910,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,bid,ADA-USD,nan
532460,level2,update,offer,0.4356,248088.704439,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
532461,level2,update,offer,0.4357,100174.273157,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
532462,level2,update,offer,0.4378,16470.798524,2025-11-26T23:47:26.96986Z,1734992,,2025-11-26T23:47:26.9840722Z,2025-11-26T23:47:27.647543+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan
534340,level2,update,offer,0.4364,34747.024159,2025-11-26T23:47:27.55545Z,1735320,,2025-11-26T23:47:27.583623363Z,2025-11-26T23:47:28.249070+00:00,...,NaN,NaN,NaN,NaN,NaN,None,False,ask,ADA-USD,nan

In [4]:
df[['server_timestamp', 'capture_timestamp', 'date', 'datetime']]

,server_timestamp,capture_timestamp,date,datetime
13,2025-11-27T00:20:02.069533736Z,2025-11-27T00:20:02.744870+00:00,nan,None
59,2025-11-27T00:20:02.569850746Z,2025-11-27T00:20:03.244399+00:00,nan,None
69,2025-11-27T00:20:02.682112561Z,2025-11-27T00:20:03.356060+00:00,nan,None
88,2025-11-27T00:20:02.819641176Z,2025-11-27T00:20:03.494651+00:00,nan,None
104,2025-11-27T00:20:02.933509834Z,2025-11-27T00:20:03.609543+00:00,nan,None
...,...,...,...,...
34049,2025-11-27T00:26:06.569889011Z,2025-11-27T00:26:07.259896+00:00,nan,None
34089,2025-11-27T00:26:07.069535583Z,2025-11-27T00:26:07.745572+00:00,nan,None
34112,2025-11-27T00:26:07.569765551Z,2025-11-27T00:26:08.338491+00:00,nan,None
34118,2025-11-27T00:26:07.680697134Z,2025-11-27T00:26:08.357076+00:00,nan,None
34138,2025-11-27T00:26:07.820151967Z,2025-11-27T00:26:08.495955+00:00,nan,None

In [20]:
record = df.iloc[0].to_dict().copy()
record

{'channel': 'ticker',
 'event_type': 'update',
 'price': 90227.61,
 'volume_24h': 11471.69345361,
 'low_24h': 86266.95,
 'high_24h': 90628.53,
 'low_52w': 74420.69,
 'high_52w': 126296.0,
 'price_percent_chg_24h': 3.0443720385236,
 'best_bid': 90227.6,
 'best_bid_quantity': 0.02407233,
 'best_ask': 90227.61,
 'best_ask_quantity': 0.07064256,
 'sequence_num': 2461071,
 'client_id': '',
 'server_timestamp': '2025-11-27T00:20:02.069533736Z',
 'capture_timestamp': '2025-11-27T00:20:02.744870+00:00',
 'mid_price': 90227.60500000001,
 'spread': 0.00999999999476131,
 'spread_bps': 0.0011083082605108836,
 'range_24h': 4361.580000000002,
 'range_24h_pct': 5.055910751452326,
 'year': nan,
 'month': nan,
 'day': nan,
 'hour': nan,
 'minute': nan,
 'second': nan,
 'microsecond': nan,
 'datetime': None,
 'product_id': 'BTC-USD',
 'date': 'nan'}

In [21]:
timestamp_field="server_timestamp"
fallback_field="capture_timestamp"
timestamp_str = record.get(timestamp_field)
if not timestamp_str and fallback_field:
    timestamp_str = record.get(fallback_field)

if not timestamp_str:
    print(f"No timestamp found in fields: {timestamp_field}, {fallback_field}")

print(f"timestamp_str type: {type(timestamp_str)}")
print(f"timestamp_str value: '{timestamp_str}'")
print(f"timestamp_str is string: {isinstance(timestamp_str, str)}")

# Try parsing manually
try:
    from datetime import datetime
    dt = datetime.fromisoformat(timestamp_str.replace('Z', '+00:00'))
    print(f"Manual parse SUCCESS: {dt}")
except Exception as e:
    print(f"Manual parse FAILED: {e}")
    print(f"After replace: '{timestamp_str.replace('Z', '+00:00')}'")

# Parse and add time fields
time_fields = parse_timestamp_fields(timestamp_str)
print(f"time_fields result: {time_fields}")

timestamp_str type: <class 'str'>
timestamp_str value: '2025-11-27T00:20:02.069533736Z'
timestamp_str is string: True
Manual parse FAILED: Invalid isoformat string: '2025-11-27T00:20:02.069533736+00:00'
After replace: '2025-11-27T00:20:02.069533736+00:00'
time_fields result: {'year': 2025, 'month': 11, 'day': 27, 'hour': 0, 'minute': 20, 'second': 2, 'microsecond': 69533, 'date': '2025-11-27', 'datetime': '2025-11-27T00:20:02.069533+00:00'}

In [16]:
timestamp_str

'2025-11-27T00:20:02.069533736Z'

In [17]:
time_fields

{}

In [ ]:
# Debug: Check what type timestamp_str is
print(f"timestamp_str type: {type(timestamp_str)}")
print(f"timestamp_str value: {timestamp_str}")
print(f"timestamp_str repr: {repr(timestamp_str)}")

# Check if it's a pandas Timestamp object
if hasattr(timestamp_str, '__class__'):
    print(f"timestamp_str class: {timestamp_str.__class__.__name__}")

record

In [6]:
# CRITICAL: Use hive_partitioning=True to restore partition columns from directory structure
lf = pl.scan_parquet(
                db_path, 
                hive_partitioning=True, 
             #    try_parse_hive_dates=True,
                missing_columns="insert",
                extra_columns="ignore",
                # row_index_name=None,
                )
df_polars = lf.filter(pl.col("product_id") == "BfTiCl-tUeSrD(")).collect()

SchemaError: data type mismatch for column datetime: incoming: String != target: Null

## Recommended: Clean Approach (Delete Old Files)

If you just updated your ETL logic and want consistent schema going forward:

```bash
# Option A: Delete old processed files and reprocess from raw
rm -rf F:/processed/coinbase/level2/*
python scripts/run_etl.py

# Option B: Move old files to archive
mv F:/processed/coinbase/level2 F:/processed_archive_v1/coinbase/level2
python scripts/run_etl.py
```

This ensures all files have the same schema (minute, second, microsecond included).

In [22]:
df_polars

shape: (1_565_324, 19)
┌─────────┬────────────┬───────┬────────────┬───┬────────────┬────────────┬────────────┬───────────┐
│ channel ┆ event_type ┆ side  ┆ price_leve ┆ … ┆ side_norma ┆ __index_le ┆ product_id ┆ date      │
│ ---     ┆ ---        ┆ ---   ┆ l          ┆   ┆ lized      ┆ vel_0__    ┆ ---        ┆ ---       │
│ str     ┆ str        ┆ str   ┆ ---        ┆   ┆ ---        ┆ ---        ┆ str        ┆ str       │
│         ┆            ┆       ┆ f64        ┆   ┆ str        ┆ i64        ┆            ┆           │
╞═════════╪════════════╪═══════╪════════════╪═══╪════════════╪════════════╪════════════╪═══════════╡
│ level2  ┆ update     ┆ bid   ┆ 84554.23   ┆ … ┆ bid        ┆ 31         ┆ BTC-USD    ┆ 2025-11-2 │
│         ┆            ┆       ┆            ┆   ┆            ┆            ┆            ┆ 2         │
│ level2  ┆ update     ┆ bid   ┆ 84554.09   ┆ … ┆ bid        ┆ 32         ┆ BTC-USD    ┆ 2025-11-2 │
│         ┆            ┆       ┆            ┆   ┆            ┆            ┆            ┆ 2         │
│ level2  ┆ update     ┆ bid   ┆ 84548.16   ┆ … ┆ bid        ┆ 33         ┆ BTC-USD    ┆ 2025-11-2 │
│         ┆            ┆       ┆            ┆   ┆            ┆            ┆            ┆ 2         │
│ level2  ┆ update     ┆ bid   ┆ 81232.36   ┆ … ┆ bid        ┆ 34         ┆ BTC-USD    ┆ 2025-11-2 │
│         ┆            ┆       ┆            ┆   ┆            ┆            ┆            ┆ 2         │
│ level2  ┆ update     ┆ offer ┆ 84573.0    ┆ … ┆ ask        ┆ 35         ┆ BTC-USD    ┆ 2025-11-2 │
│         ┆            ┆       ┆            ┆   ┆            ┆            ┆            ┆ 2         │
│ …       ┆ …          ┆ …     ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …         │
│ level2  ┆ update     ┆ bid   ┆ 90304.38   ┆ … ┆ bid        ┆ 535315     ┆ BTC-USD    ┆ nan       │
│ level2  ┆ update     ┆ offer ┆ 90395.88   ┆ … ┆ ask        ┆ 535316     ┆ BTC-USD    ┆ nan       │
│ level2  ┆ update     ┆ offer ┆ 90395.89   ┆ … ┆ ask        ┆ 535317     ┆ BTC-USD    ┆ nan       │
│ level2  ┆ update     ┆ offer ┆ 90395.9    ┆ … ┆ ask        ┆ 535318     ┆ BTC-USD    ┆ nan       │
│ level2  ┆ update     ┆ offer ┆ 90398.43   ┆ … ┆ ask        ┆ 535319     ┆ BTC-USD    ┆ nan       │
└─────────┴────────────┴───────┴────────────┴───┴────────────┴────────────┴────────────┴───────────┘

In [6]:
root_dir = processed_dir + "/coinbase/ticker/product_id=BTC-USD/date=2025-11-26/"
fnames = os.listdir(root_dir)
fnames

['part_20251126T14_8fb652e3.parquet',
 'part_20251126T14_e541de12.parquet',
 'part_20251126T14_01db67a7.parquet',
 'part_20251126T14_7c9b76ff.parquet']

In [8]:
fpath = root_dir + fnames[0] #"part_2025-11-22_39c9804c.parquet" #"2025-11-22.parquet"
df = pd.read_parquet(fpath)
df.head()

,channel,event_type,price,volume_24h,low_24h,high_24h,low_52w,high_52w,price_percent_chg_24h,best_bid,...,spread,spread_bps,range_24h,range_24h_pct,year,month,day,hour,product_id,date
11203,ticker,update,87430.02,10503.035667,86067.02,88486.82,74420.69,126296.0,-0.77174,87430.01,...,0.01,0.001144,2419.8,2.81153,2025.0,11.0,26.0,0.0,BTC-USD,2025-11-26

In [10]:
df.iloc[0]

channel                                            ticker
event_type                                         update
price                                            87430.02
volume_24h                                   10503.035667
low_24h                                          86067.02
high_24h                                         88486.82
low_52w                                          74420.69
high_52w                                         126296.0
price_percent_chg_24h                            -0.77174
best_bid                                         87430.01
best_bid_quantity                                0.036568
best_ask                                         87430.02
best_ask_quantity                                 0.02355
sequence_num                                       121844
client_id
server_timestamp              2025-11-26T00:02:40.498898Z
capture_timestamp        2025-11-26T00:02:40.644503+00:00
mid_price                                       87430.015
spread                                               0.01
spread_bps                                       0.001144
range_24h                                          2419.8
range_24h_pct                                     2.81153
year                                               2025.0
month                                                11.0
day                                                  26.0
hour                                                  0.0
product_id                                        BTC-USD
date                                           2025-11-26
Name: 11203, dtype: object

In [9]:
df['event_time'].min(), df['event_time'].max()

KeyError: 'event_time'